@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 2000px;
    background-color: #3DE07E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navicon {
    height: 2vh;
    align-self: flex-start;
    margin: 1rem;
}

h1 {
    margin: 15vh;
    font-family: 'Roboto', sans-serif;
    font-size: 300%;
    text-align: center;
}

.ninjahead {
    height: 20vh;
}

/* main block styling */

body {
    background-color: black;
}

.pictures {
    max-width: 1000px;
    font-family: 'Fira Sans', sans-serif;
    margin: auto;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
    background-color: black;
}

.varorIKorg {
    color: white;
    grid-column: auto / span 6;
}

.smallPicture {
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 2em;
    margin-top: 2em;
}

.smallPictureImg {
    width: 100%;
}

.smallPictureHeader {
    padding: 1rem;
}

.smallPictureText {
    padding: 1rem;
    font-weight: lighter;
}

.smallPictureButton {
    width: 8rem;
    background-color: #E83F57;
    border-radius: 4px;
    color: white;
    margin: 1rem;
    padding: 0.4em;
    border: none;
    font-size: smaller;
    cursor: pointer;
}


.bigPicture {
    grid-column: auto / span 3;
    background-color: white;
    margin-bottom: 6rem;
}

.bigPictureImg {
    width: 100%;
}

.bigPictureHeader {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.bigPictureText {
    padding-bottom: 2rem;
}

.bigPictureButton {
    margin: 0.5rem;
    width: 9rem;
    background-color: #E83F57;
    border-radius: 4px;
    color: white;
    padding: 0.6em;
    border: none;
    font-size: smaller;
    cursor: pointer;
}

.varukorg {
    font-family: 'Fira Sans', sans-serif;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: black;
    color: white;
}

.vara {
    grid-column: auto / span 3;
}

.antal {
    grid-column: auto / span 2;
}

.pris {
    grid-column: auto / span 1;
}

.redBgd {
    background-color: hsla(0, 83%, 57%, 0.2);
}

.varukorg>article>p {
    padding: 0.5em;
}

.varukorg>article>h3 {
    padding: 0.5em;
}

.gimmieButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.gimmieButton {
    margin-right: 6rem;
    margin-bottom: 8rem;
    width: 17rem;
    background-color: #E83F57;
    border-radius: 4px;
    color: white;
    padding: 0.6em;
    border: none;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
}

footer {
    max-width: 2000px;
    font-family: 'Fira Sans', sans-serif;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-around;
}

footer article {
    margin: 3rem;
}

footer article h3 {
    padding-bottom: 0.4em;
}

footer article ul {
    list-style: none;
    font-size: small;
}